<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - Voler Admin Dashboard</title>

    <link rel="stylesheet" href="/css/bootstrap.css" />

    <link rel="stylesheet" href="/vendors/chartjs/Chart.min.css" />

    <link
      rel="stylesheet"
      href="/vendors/perfect-scrollbar/perfect-scrollbar.css"
    />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon" />
  </head>

  <body>
    <div id="app">
      <!-- Sidebar -->
      <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
          <div class="sidebar-header">
            <img src="/images/logo.svg" alt="" srcset="" />
          </div>
          <div class="sidebar-menu">
            <ul class="menu">
              <li class="sidebar-title">Main Menu</li>

              <li class="sidebar-item active">
                <a href="/users" class="sidebar-link">
                  <i data-feather="user" width="20"></i>
                  <span>Users</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a href="/campaigns" class="sidebar-link">
                  <i data-feather="book" width="20"></i>
                  <span>Campaigns</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a href="/transactions" class="sidebar-link">
                  <i data-feather="trending-up" width="20"></i>
                  <span>Transactions</span>
                </a>
              </li>
            </ul>
          </div>
          <button class="sidebar-toggler btn x">
            <i data-feather="x"></i>
          </button>
        </div>
      </div>
      <!-- End Sidebar -->
      <div id="main">
        <!-- Navbar -->
        <nav class="navbar navbar-header navbar-expand navbar-light">
          <a class="sidebar-toggler" href="#"
            ><span class="navbar-toggler-icon"></span
          ></a>
          <button
            class="btn navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul
              class="navbar-nav d-flex align-items-center navbar-light ms-auto"
            >
              <li class="dropdown nav-icon">
                <a
                  href="#"
                  data-bs-toggle="dropdown"
                  class="nav-link dropdown-toggle nav-link-lg nav-link-user"
                >
                  <div class="d-lg-inline-block">
                    <i data-feather="bell"></i>
                  </div>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-end dropdown-menu-large"
                >
                  <h6 class="py-2 px-4">Notifications</h6>
                  <ul class="list-group rounded-none">
                    <li class="list-group-item border-0 align-items-start">
                      <div class="avatar bg-success me-3">
                        <span class="avatar-content"
                          ><i data-feather="shopping-cart"></i
                        ></span>
                      </div>
                      <div>
                        <h6 class="text-bold">New Order</h6>
                        <p class="text-xs">
                          An order made by Ahmad Saugi for product Samsung
                          Galaxy S69
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="dropdown">
                <a
                  href="#"
                  data-bs-toggle="dropdown"
                  class="nav-link dropdown-toggle nav-link-lg nav-link-user"
                >
                  <div class="avatar me-1">
                    <img src="/images/avatar/avatar-s-1.png" alt="" srcset="" />
                  </div>
                  <div class="d-none d-md-block d-lg-inline-block">
                    Hi, Alfaroqi
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item" href="#"
                    ><i data-feather="log-out"></i> Logout</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <!-- Dashboard -->

        {{ template "content" .}}
        <footer>
          <div class="footer clearfix mb-0 text-muted">
            <div class="float-start">
              <p>2020 &copy; Voler</p>
            </div>
            <div class="float-end">
              <p>
                Crafted with
                <span class="text-danger"><i data-feather="heart"></i></span> by
                <a href="http://ahmadsaugi.com">Ahmad Saugi</a>
              </p>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="/js/feather-icons/feather.min.js"></script>
    <script src="/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/js/app.js"></script>

    <script src="/vendors/chartjs/Chart.min.js"></script>
    <script src="/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="/js/pages/dashboard.js"></script>

    <script src="/js/main.js"></script>
  </body>
</html>
