{{ define "content" }}
<div class="main-content container-fluid">
  <div class="page-title">
    <h3 class="mb-4">List of Campaign</h3>
  </div>
  <section class="section">
  <div class="row mb-4">
    <div class="col-md">
      <div class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <a class="btn btn-primary" href="/campaigns/new">
            <i data-feather="plus-circle"></i> New Campaign</a
          >

          <div class="d-flex">
            <i data-feather="download"></i>
          </div>
        </div>

        <div class="card-body px-0 pb-0">
          <div class="table-responsive">
            <table class="table mb-0" id="table1">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Short Description</th>
                  <th>Goal Amount</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{ range .campaigns }}
                <tr>
                  <td>
                    {{ if .CampaignImages }}
                            <img width="60" src="/{{ (index .CampaignImages 0).FileName }}" class="img-fluid img-thumbnail">
                    {{ end }}
                  </td>
                  <td>{{ .Name }}</td>
                  <td>{{ .ShortDescription }}</td>
                  <td>{{ .GoalAmountInIDR }}</td>
                  <td>
                    <a href="/campaigns/image/{{ .ID }}"
                      ><i data-feather="camera"></i
                    ></a>
                  </td>
                  <td>
                    <a href="/campaigns/edit/{{ .ID }}"
                      ><i data-feather="edit"></i
                    ></a>
                  </td>
            
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{{ end }}
